[Desktop Entry]
Encoding=UTF-8
Version=0.1.0
Name=casewm
Comment=Dynamic Tiling Window manager written in Rust for console cowboys navigating the sprawl
Exec=/usr/local/bin/casewm
Type=XSession
